Test.java
EdgeCaseTests.java
TestFunctions.java
*.class
*.txt
Coursework/latex/
Coursework/pseudocode/
Coursework/excluded/
.cursor/rules/java.mdc
.cursor/rules/java.md
.cursor/rules
Coursework/docs/
*.tex